.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 40px;
  border-bottom: 1px solid #eee;
}

.logo {
  flex-basis: 20%; 
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbarContainer {
  flex-basis: 60%; 
  text-align: center;
}

.iconsContainer {
  flex-basis: 20%; 
  display: flex;
  justify-content: flex-end; 
  gap: 20px; 
}