@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import "tailwindcss";

body {
  font-family: "Lucida Console", Courier, monospace;
  max-width: 90%;
  margin: 0 auto;
}
